{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}


		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6" id="connect">
					<h1 class="text-center my-3">Connexion</h1>
					<div class="col-lg-12 text-center">
						<img src="{{ asset('build/images/avatarmin.jpg')}}"></div>
					<div class="mb-3">
						<label for="inputEmail" class="form-label">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					</div>
					<div class="mb-3">
						<label for="inputPassword" class="form-label">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" name="_remember_me" id="remember_me">
						<label for="remember_me" class="form-check-label">
							Se souvenir de moi</label>
					</div>
					<div class="form-group" id="auth">
						<button class="btn btn-lg btn-secondary mb-5" type="submit">S'authentifier</button>

						{% if app.user %}
							<div class="logout d-flex justify-content-around pr-3">
								<small>Connecté avec (email) :
									{{ app.user.username }}
								</small>
								<a href="{{ path('app_logout') }}" class="btn btn-secondary mb-3"><i class="fa fa-power-off"></i><small> Déconnexion</small></button>
							</a>
							
						</div>

					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>{% endblock %}
