{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<div class="container my-5" id="connect">
			<div class="row justify-content-center">
				<h1 class="text-center my-3">Connexion</h1>

				<div class="col-lg-8 text-center mt-4">
					<img src="{{ asset('build/images/avatarmin.jpg')}}">
				</div>
				<div class="col-8">
					<label for="inputEmail" class="form-label">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
				</div>
				<div class="col-8 py-3">
					<label for="inputPassword" class="form-label">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				<div class="row justify-content-end">
				<div class="col-8 py-2">
					<label for="remember_me" class="form-check-label">
						<input type="checkbox" class="form-check-input" name="_remember_me" id="remember_me">
						Se souvenir de moi</label><br>
						<a href="{{ path('app_forgot_password_request') }}">   Mot de passe oublié  </a>
				</div>
				</div>
				<div class="row justify-content-end">
				<div class="col-8 form-group py-md-3" id="auth">
					<button class="btn btn-lg btn-secondary mb-5" type="submit">S'authentifier</button>
				</div>
				</div>
			</div>
		</div>
	</div>
</form>{% endblock %}
