{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="container text-center">
		<div class="text-center " style="padding-bottom:100px">
			<h1>S'inscrire</h1>
		</div>
    <div class="tex-left" id="inscription">
		{{ form_start(registrationForm) }}
		<div class="input-field col text-center">
			{{ form_row(registrationForm.username) }}
<br>
		</div>
		<div class="input-field  ">
			{{ form_row(registrationForm.email) }}
            <br>
			{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
		</div><br>
		{{ form_row(registrationForm.agreeTerms) }}
		{{ form_end(registrationForm) }} <br>
    </div>

		<div class="input-field">
			<input type="submit" name="" class="btn btn-primary" value="M'enregistrer">
		</div>
	</div>
{% endblock %}
