<footer class="text-center">
	<div class="container-fluid flex-grow-1 flex-shrink-0">
		<div class="px-lg-5">
	
			<div class="row justify-content-between">
				
				<div class="col-lg-2">
					<a href="{{ path('accueil')}}">Accueil
						<i class="fa fa-home "></i>
					</a><br>
					<a href="{{ path('app_register')}}">
						<i class="fa fa-user-plus"></i>
						Inscription</a>
				</div>
				<div class="col-lg-2">
					<p>Projet 6 Formation développeur Application PHP Symfony</p><br>
					</div>
					<div class="col-lg-2">
					<img src="{{ asset('build/images/test.jpeg')}}" class="rounded-circle mb-2">Pascaline</a><br>
					<a href="{{ path('app_logout')}}">Se déconnecter</a>
						<i class="fa fa-sign-out-alt"></i>
					</div>
					<div class="col-lg-2">

					<a href="https://fr.wikipedia.org/wiki/Trick">
						<i class="fas fa-link "></i>
						Wikipedia</a><br>
						<a href="{{ path('category_index')}}">Catégories</a>
						<i class="fa fa-snowboarding"></i>
						
				</div>
				</div>
			</div>
			</div>
		

	</div>
</footer>
