<footer>
	<div class="container-fluid">
		<div class="row justify-content-around">
			<div class="col-3">
				<a href="{{ path('accueil')}}">Accueil
					<i class="fa fa-home "></i>
				</a><br></div>
			<div class="col-3 text-center formation">
				<p>Formation développeur Application PHP Symfony</p><br></div>
			<div class="col-3 text-end">
				<a href="{{ path('app_register')}}">
					<i class="fa fa-user-plus"></i>
					Inscription</a>
			</div>
		</div>
		<div class="row justify-content-around">
			<div class="col-3">
				<a href="{{ path('app_login')}}">Se connecter
					<i class="fa fa-snowboarding"></i>
				</a>
			</div>
			<div class="col-3 wikipedia text-center">
				<a href="https://fr.wikipedia.org/wiki/Trick">
					<i class="fa fa-link"></i>
					Wikipedia</a>
				<p>&copy; Copyright
					{{ 'now'|date('Y')}}&middot; pascaline</p><br>
			</div>
				<div class="col-3 text-end">
					<a href="{{ path('app_logout')}}">Se déconnecter
					<i class="fa fa-sign-out-alt"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
