<footer>
	<div class="container-fluid">
		<div class="row text-center">
			<div class="col-4">
			<a href="{{ path('accueil')}}"><i class="fa fa-home "></i>
			<span class="cacher">Accueil</span>	
			</a><br>
			</div>
		
			<div class="col-4">
				<a href="{{ path('app_register')}}"><i class="fas fa-bookmark"></i>
				<span>Nous rejoindre</span><br>
				</a>
			</div>

			{% if app.user %}
			<div class="col-4">
				<a href="{{ path('app_logout')}}"><i class="fa fa-sign-out-alt " aria-hidden="true"></i>
				<span class="cacher">Se deconnecter</span>	
				</a>
			</div>
				{% else %}
			<div class="col-4">
				<a href="{{ path('app_login')}}"><i class="fa fa-sign-in-alt " aria-hidden="true"></i>
				<span class="cacher">Se connecter</span>	
				</a>
			</div>
			{% endif %}	
		</div>

			<div class="row text-center">	
				<div class="col-12 wikipedia text-center">
					<a href="https://fr.wikipedia.org/wiki/Trick"><i class="fa fa-link"></i>
						<span class="cacher">Wikipedia</span>
						<span class="cacher"><p>&copy; Copyright
						{{ 'now'|date('Y')}}&middot; pascaline</p><br></span>	
					</a>
				</div>		
			</div>
		</div>
	</div>
</footer>
