{% extends 'base.html.twig' %}

{% block title %}Toutes les figures - liste{% endblock %}

{% block body %}
<div class="container-fluid d-flex h-100 align-items-center">
	<img class="card-img-top" src="{{ asset('uploads/pictures/homepagefin.jpg')}}" alt="Card image cap">
</div>
	<div id="button-down" style="text-align:right">
		<a href="" class="js-scroll-trigger">
        <i class="fa fa-arrow-down fa-2x"></i></a>
		</div>
<!--end header page-->




<div class="container-fluid">
	<div class="row text-center">
		{% for trick in tricks %}
		
			<div class="col-md-4 col-lg-3 xl-4 pt-5">
	
				<div class="card" style="width: 18rem;">
				<h1></h1>
					<h5> {{ trick.name }} </h5>
					<img class="card-img-top" src="{{ asset('uploads/pictures/' ~ trick.picture)}}" alt="Card image cap">
					<div class="d-flex justify-content-between mx-5 my-2"></div>
					<a href="{{ path('trick_edit', {'id': trick.id}) }}">
						<i class="fa fa-pencil mt-2"></i>
					</a>
					<a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary pl-10">Read more</a>
				</div>
			</div>
		
		{% endfor %}
			
	</div>
</div></div>

<div class="text-center"><br>
	<button onclick="myFunction()" class="btn btn-success" style="bg-color:green; width:200px">En découvrir plus</button>
	<!--<div id="mytrick" style="display:none;">-->
</div>
<div id="button-up" style="text-align:right">
	<a href="" class="js-scroll-trigger"><i class="fa fa-arrow-up fa-2x"></i>
</div>

			
{% block javascript %}
<script>function myFunction() {var x = document.getElementById("mytrick");if (x.style.display === "none") {x.style.display = "block";} else {x.style.display = "none";}}</script>
{% endblock %}

{% endblock %}

