{% extends 'base.html.twig' %}

{% block title %}Toutes les figures
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<img class="card-img-top" src="{{ asset('build/images/homepagefin.jpg')}}" alt="Card image cap">
	</div>
	<div id="button-down">
		<a href="" class="js-scroll-trigger">
			<i class="fa fa-arrow-down"></i>
		</a>
	</div>
	<!--end header page-->


	<div class="container-xl">
		<div class="row text-center">

			{% for trick in tricks %}
				<div class="col-sm-4 col-md-3 lg-3 col-xl-3 pt-5">
				{% if loop.index <= loop.length / 2 %}
                
            {% endif %}
					<div class="card">
						<h1></h1>
						<h5>
							{{ trick.name }}
						</h5>
						<img class="card-img-top" src="{{ asset('uploads/' ~ trick.pictures|first)}}" alt="Card image cap">
						<div class="d-flex justify-content-between mx-5 my-2">
							<a href="{{ path('trick_edit', {'id': trick.id}) }}"></a>
						</div>
						<a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary"></i>Read more</a>
					</div>
					
				</div>
				
			{% endfor %}
		</div>
	


	<div class="text-center"><br>

		<button class="btn btn-success mb-3" href="#" id="loadMore">Voir plus</button>
				<a href="#tricks" class="js-scroll-trigger">
				<i class="fa fa-arrow-up fa-2x"></i>
			</div>
</div>

		{% endblock %}
