{{ form_start(form) }}
   
<div class="col-12" id="edit-category">
			{{ form_start(form) }}
			{{ form_row(form.title, {label: 'Titre de la catégorie'}) }}<br>
			{{ form_row(form.description) }}<br>
			{{ form_row(form.createdAt, {label: 'Crée le:'}) }}<br>
			{{ form_row(form.updateAt, {label: 'Modifiée le:'}) }}<br>
{{ form_end(form) }}
<div class="d-flex justify-content-center">
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    </div>
</div>