{{ form_start(form) }}
<div class="container h-100">
	<div class="row align-items-center h-100">
		<div class="col-12"id="edit-trick">
		

			{{ form_start(form) }}
			{{ form_row(form.name, {label: 'Nom du Trick'}) }}<br>
			{{ form_row(form.description) }}<br>
			{{ form_row(form.createdAt, {label: 'Crée le:'}) }}<br>
			{{ form_row(form.updateAt, {label: 'Modifié le:'}) }}<br>
			{{ form_row(form.category, {label: 'Catégories:'}) }} <br>
			{{ form_row(form.picture, {label: 'Images'}) }} <br>

			{# verifier si la route est "trick_edit" on affiche les images #}
			{% if app.request.attributes.get('_route') == 'trick_edit' %}
				<h2>images</h2>
				{% for picture in trick.pictures %}
				<div>
					<!--<img src="{{ asset('uploads/pictures/' ~ trick.picture)}}" alt="image "> -->
						<img src="{{ asset('/uploads/' ~ trick.pictures )}}" alt="Picture" width="150">
						<a href="{{ path('trick_delete_picture', {id: picture.id})}}"data-delete data-token="{{ csrf_token('delete' ~ picture.id)}}">
							Supprimer</a>
				</div>	
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
<div class="col-12 justify-content-around my-5 py-3">

</div>
{{ form_end(form) }}


	
