{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}

<div="container">
    <div class="col-12 text-center my-5 py-3">
        <h1>Liste des Tricks </h1>
    </div>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th width="900px">Description</th>
                <th>Category</th>
                <th>CreatedAt</th>
                <th>UpdateAt</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td width="900px">{{ trick.description }}</td>
                <td>{{ trick.category }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('d/m/Y à h\\hi') : '' }}</td>
                <td>{{ trick.updateAt ? trick.updateAt|date('d/m/Y à h\\hi') : '' }}</td>
                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}"class="btn btn-dark"><i class=" fa fa-eye"></i>show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}"class="btn btn-dark"><i class=" fa fa-edit"></i>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>
<div class="col-12 text-center my-5 py-3">
    <a href="{{ path('trick_new') }}"class="btn btn-secondary"><i class=" fa fa-plus"></i>Create new</a>
    </div>
{% endblock %}
